.demoArea ul {
	padding: 0;
}

.demoArea li {
	list-style-position: inside;
}

.outputArea,
.renderArea {
	height: 5em;
}

#signSequence svg {
	scale: 75%;
}

#signDemo,
#symbolDemo {
	display: grid;
	grid-template-columns: 15em 1fr;
}

.inputArea * {
	display: block;
}

/* --------------- styles for tabs -----------------------*/

.invisible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.js-tablist {
	margin: .5em 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	background-color: silver;
}

.js-tablist__item {}

.js-tablist__link {
	padding: 1em;
	display: inline-block;
	cursor: pointer;
	background: silver;
	color: black;
	font-family: sans-serif;
	font-weight: bold;
}

.js-tablist__link:hover {
	background-color: white;
}

[aria-selected="true"].js-tablist__link {
	color: black;
	background-color: white;
}

[aria-hidden="true"].tabs__content {
	display: none !important;
}